.caracteres-usados {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.caracteres-usados label {
    display: flex;
    align-items: center;
    background-color: #2C2C2C;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 16px;
    width: 48%; /* Ajusta a largura para caber dois labels por linha */
}

.caracteres-usados input {
    margin-right: 8px;
    transform: scale(1.2);
    flex-shrink: 0;
}

/* Estilos específicos para dispositivos menores */
@media (max-width: 768px) {
    .caracteres-usados label {
        width: 100%; /* Ajusta para uma coluna em telas pequenas */
    }
}